    body {
        font-family: arial;
        margin:0px;
            background-color:#36454d;
            font-family: Arial, Helvetica, sans-serif;
    }
    html {
        height: 100%
    }
    p {
        margin:0px;
    }
    .parent-div {
      width:100%;
      height:620px; 
    }

    .login-main {
        width:100%;
        height:50%;
        position: relative;
        top:15%;
        margin:0 auto;
        color:#fff;
    }
    .info {
        text-align:center;
        height: 50px;
        width: 100%;
        margin-bottom: 40px;
    }
    .info p:first-child {
        margin-bottom:0px;
        font-size: 18px;
        font-weight: 600;
    }
    .info p:last-child {
        margin-top:5px;
        font-size:20px;
    }
    #signin-google {
        cursor:pointer;
      width: 20%;
        background: white;
        margin: auto;
        height: 40px;
   
    }
    #signin-google img {
       display: block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        float: left;
        margin:8px;
  
    }
    #signin-google p {
        color:#000;
        width: 70%;
        height: 40px;
        float: left;
        margin: 0px 0px 0px 10px;
        line-height:40px;
    }
    #logo {
        width:150px;
        height:150px;
        margin:auto;
        display:block;
        text-align:center;
        border-radius:100%;
    }
    .errorMsg {
        width:100%;
        height:40px;
        line-height:40px;
        color:white;
        background:#cc1a26;
        text-align:center;
        font-size:16px;
        display:none;

    }

     @media only screen and (min-width: 800px) and (max-width: 1000px)  {

       #signin-google {
           width:26%;
       }
     }
     @media only screen and (min-width: 600px) and (max-width: 799px)  {

       #signin-google {
           width:35%;
       }
     }
      @media only screen and (max-width: 599px)   {

       #signin-google {
           width:60%;
       }
     }


      /* Profile Page css */

     .profile {
          color:#000;
          
     
      }
     body.profile {
         background:#e3e3e3;
     }
     .profile p {
         margin:0px;
     }
     .profile input {
         margin:5px 5px 5px 0px;
     }
     .profile .basic-info {
         width:20%;
         float:left;
         padding:20px;
     }
    .profile .basic-info p {
        margin-bottom:15px;
        }
     .profile #profile_picture {
         width:150px;
         height:150px;
         border:1px solid #fff;
         background:#808080;
         border: none;
        cursor:pointer;
     }
     .profile .profile-info {
         width:75%;
         float:left;
         padding:20px 20px 20px 0px;
     }
     .profile .success-msg {
         line-height:40px;
         width:100%;
         height:40px;
         font-size:16px;
         color:white;
         background-color:green;
         text-align:center;
         margin-bottom:20px;
         display:none;
     }
     #profile_picture {
         clear:both;
     }
     #update_pic {
        display: none;
     }
     .user-interested-category  label{
    
         height:40px;
         display:inline-block;
     }
     .user-interested-category  input{
         margin-right:25px;
         margin-left: 10px;
        position: relative;
        top: 2px;
     }
     .basic-info label.update_pic {
        display: block;
        position: relative;
        top: -44px;
        width: 150px;
        text-align: center;
        background: black;
        opacity: 0.5;
        font-size: 13px;
        padding: 5px 0px 5px 0px;
        display:none;
        cursor:pointer;
    

     }
     .basic-info label.update_pic:hover {
         display:block;
         color:#fff;

     }
    .basic-info #profile_picture:hover + label {
        display:block;
    }

    /* Header CSS*/
    .header {
        width:100%;
        height:50px;
        background:#1d3e72;
        color:white;
        

    }
    .header img {
        width: 45px;
        height: 45px;
        float: left;
        border-radius: 100%;
        margin-top:3px;
        margin-left:20px;
        cursor:pointer;
    }
    .header label {
        float:left;
        padding-left:10px;
        font-size:25px;
        line-height:50px;
    }
    .header ul {
        float:right;
        margin:0px;
        cursor:pointer;
        display:list-item !important;
        list-style:none;
   
    }
    .header ul li {
        list-style: none;
        width: 100px;
        float: left;
        text-align: center;
        line-height: 50px;
        cursor:pointer;
         margin:0px !important;

    }
    .header ul li a,.header ul li a:hover,.header ul li a:visited {
        color:#fff;
        text-decoration:none;
    } 



    /* Activity Page CSS*/

    .activity .left-nav {
        width:20%;
        height:1200px;
        background:#4286f4;
        color:#fff;
       display:block;
       float:left;
       vertical-align:top;
    }
    .activity .basic-info {
        padding:15px;
    }
    .activity .basic-info #profile-name {
        padding:15px 0px 0px 10px;
    }
    .activity .right-nav {
            width: 80%;
            display: block;
            float: left;
    }
    
    .activity #profile_picture {
         width:75px;
         height:75px;
         border:1px solid #fff;
         /*background:#808080;*/
         border: none;
         cursor:pointer;
         margin-bottom:15px;
     }
    .activity {
        background:#fff;
    }
    .activity .basic-info {
        position:relative;
    }
    .activity .basic-info #profile-name {
       position: absolute;
        top: 20px;
        left: 90px;
        cursor:pointer;
    }
    .activity ul {
        padding:0px;
        margin:0px;
        cursor:pointer;
        /*display:none;*/
    }
    .activity .left-nav-list:last-child ul {
        display:list-item;
        list-style:none;
    }
    .activity ul li {
        list-style:none;
        margin:10px 0px;
   
    }
    .acitivity .left-nav-list {
        clear:both;
        

    }
    .activity .left-nav-list p {
        height:30px;
        line-height:30px;
        cursor:pointer;
        font-size:20px;
        color:black;
    
    }
    .activity .left-nav-list ul li:hover {
        color:#1f5360;
    }
    .right-nav .event-creation {
        text-align:center;
    }
    .right-nav .event-creation #new-event {
        height:75px;
        width:400px;
        text-align:center;
    }
    .right-nav .event-creation #new-event:focus {
    
        outline:none;
    }
    textarea {
        resize:none;
        vertical-align:middle;
    }

    .event-creation ul {
        display:list-item;
        list-style:none;
    }
    /* Activity Page CSS*/


    /*  New Event Description CSS    */

    .newEvent-description {
        width:75%;
        margin:0 auto;
        text-align:center;

    }
    .newEvent-description h1{
        text-align:center;
    }
    .newEvent-description label {
        width: 30%;
        display:block;
        float:left;
    }
    .newEvent-description input, .newEvent-description select {
        width: 50%;
        float:left;
    
    }
    .newEvent-description input, .newEvent-description label,.newEvent-description select {
        margin: 10px;
        height:30px;
        line-height:30px;
        text-align:center;
    }
    .newEvent-description button {
        clear:both;
   
    }
    #event-description {
        height:100px;
        width: 50%;
        float:left;
        margin:10px;
    }
    .newEvent-description .event-buttons {
        width: 125%;
        margin: 0px auto;
        clear:both;
        float:none;
        position:relative;
        top:30px; 
        text-align:center;
    }
    .newEvent-description .event-buttons button {
            width: 125px;
            height: 30px;
            background: none;
            border: none;
            outline: none;
            background: blue;
            color: #fff;
    }

    .newEvent-description  .event-buttons button {
        margin:5px;
    }
    #createdActivites,.currentEventView {
        padding: 20px;
    }
    #createdActivites ul {
        display:list-item !important;
        list-style:none;
    }
    #createdActivites .event {
        width:22%;
        margin-right:2%;
        display:inline-block;
        /*border:1px solid black;*/
        background:#eee;
        /*padding:5px;*/
        float:left;
        min-height:240px;
        text-align:center;
        margin-top:25px;
    }
    #createdActivites .event:hover {
    
        -webkit-box-shadow: #d0d0d0 0 0 4px 4px;
       -moz-box-shadow: #d0d0d0 0 0 4px 4px;
       box-shadow: #d0d0d0 0 0 4px 4px;
   

    }
    #createdActivites .event:nth-child(5n) {  
      clear:both;
      float:left;
    }
    #createdActivites .event li#actions ,  #createdActivites .event li#actions {
        background:red;
        height:30px;
        line-height:30px;
        background:#1d3e72;
        color:#fff;

    }
    .event li#actions:last-child {
        margin-bottom:0px;
    }
    #noEventMatch {
        color: #4286f4;
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 32px;
        text-align: center;
        display: block;
        position: relative;
        top: 100px;

    }
    .eventContentOverflow {
       overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; 
    }
    div#filterByCategory:first-child {
       padding-top:0px;
    }

 
    div#filterByCategory {
        clear:both;
        margin-top:20px;
        /*padding-top:20px;*/
    }

    p#categoryLabel,li#categoryLabel {
        width: 100%;
        background: #419b80;
        text-align: center;
        height: 30px;
        line-height: 30px;
        color:#fff;
        margin-top:0px;
    }
    #valueInitialization {
        display:none;
    }
    /*  New Event Description CSS    */


    /*=============currentEventView===========*/
    .currentEventView pre {
        width: 20%;
        display: inline-block;
        margin-top: 0px;
        font-size: 16px;
        font-family: Arial;
        clear:both;
    }
    .currentEventView p {
         display: inline-block;
         clear:both;
         width:70%;
         opacity: 0.6;
    }
    .currentEventView h3 {
        font-weight: bold;
        font-size:16px;
    }
    .currentEventDescription {
        margin:20px 0px;
         font-size:14px;
    }
    .currentEventView button {
        width:150px;
        background:#3daa98;
        color:#fff;
        height:30px;
        line-height:30px;
        border:none;

    }

    .event-success-msg p{
         line-height:40px;
         width:100%;
         height:40px;
         font-size:16px;
         color:white;
         background-color:green;
         text-align:center;
         margin-bottom:20px;
          display:none;
    }
    
    /*=============currentEventView===========*/


    .registeredUsers ul {
        display:list-item !important;
        list-style:none;
    }
    .viewUsers {
        text-decoration:underline;
        color:sandybrown;
        cursor:pointer;
    }
    .trimmedView {
        position:relative;
        
    }
    .trimmedView li:last-child {
        position:absolute;
        width:100%;
        bottom:0px;

    }
    #newEventImage {
        width:50px;
        height:50px;
        float:left;
    }
    #createNew,.createNew {
        text-decoration:underline;
        color:darkgray;
        cursor:pointer;
        
    }
    #banner {
    width: 100%;
    background: #e3e3e3;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: blue;
    font-size: 20px;
    font-weight: 600;
    }
    
    footer {
           position: fixed;
            bottom: 0;
            width: 100%;
            height: 40px;
            line-height: 40px;
            background:#42f4d1;
            color: #000;
            text-align: center;

    }
    footer p {
        width:80%;
    }
    .currentEventView {
        position:relative;
    }
    .StaticContent {
        position:absolute;
        right:10px;
        top:50px;
        height: 200px;
        width: 200px;
        text-align: center;

    }
    .StaticContent img {
        width:100%;
        height:100%;

    }
   input[type=text]:disabled {
    background-color: #dddddd !important;
}