<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <title>Activity Sharing</title>
    
    <link rel="stylesheet" href="../static/content/style.css" />
    
    
    
    
    
    
<!-- Script Files-->


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
 <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
 <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
 
    
 <script type="text/javascript" src="../static/scripts/project/activity.js"></script>
 

<!-- End of Script-->

</head>
<body class="activity">
<header> 
        <div class="header">
            <img  id="site-logo" src="../static/images/friends.jpg"><a href="/activity"></a>
            <label>FindMyPal</label>
            <ul>
               
                <li class="profile"><a>Profile</a></li>
                <li id="logout"><a href="/">Sign Out</a></li>
                
        
            </ul>

        </div>

</header>


<div id="activity-container"  ng-controller="ActivityController">
    

    <div class="left-nav">
        <div class="basic-info">
            
            <img id="profile_picture">
            <p id="profile-name"> <span id="username"> </span></p>
            
            <div class="left-nav-list"> 
                <p>Activities Posted</p>
                <ul> 
                        <li ng-click="trimmedResult('all')">All Activities</li>
                        <li ng-click="trimmedResult('Interested')">Interested Category</li>
                        <li ng-click="trimmedResult('Library')">Library</li>
                        <li ng-click="trimmedResult('Sports')">Sports</li>
                        <li ng-click="trimmedResult('RecCenter')">Rec Center</li>
                        <li ng-click="trimmedResult('Pool')">Pool</li>
                        <li ng-click="trimmedResult('Movies')">Movies</li>
                        <li ng-click="trimmedResult('Other')">Other</li>
                </ul>
                
            </div>
            <div class="left-nav-list">
                <p>My Activites</p>
                <ul>
                    <li ng-click="showCreadtedActivities()">Created Activites</li>
                    <li ng-click="showJoinedActivities()">Joined Activites</li>
                    <li ng-click="showNewEventCreation()">create new Activity</li>


                </ul>
                
                
                
            </div>
        </div>
    </div>
    <div class="right-nav">

        <!--New Event Creation Starts Here -->
        <div class="event-success-msg">
            <p  id="eventMessage"></p>
        </div>
        
        <div ng-if="'newEventCreation' == myView" class="newEvent-description">
            <h1  ng-if="newPost"> Create a new Event </h1>
            <h1 ng-if="editPost"> Edit your Post </h1>
            <label>Title </label>
            <input type="text" id="event-title" placeholder="Please enter the event name" required/>
            <label> Category </label>
            <select id="event-category">
                <option value="none">Select the Event Category</option>
                <option value="Library">Library</option>
                <option value="Sports">Sports</option>
                <option value="RecCenter">Rec Center</option>
                <option value="Pool">Pool</option>
                <option value="Movies">Movies</option>
                <option value="Other">Other</option>
            </select>

            <label>Description </label>
            <textarea id="event-description" placeholder="enter your event description" required></textarea>
            <label>Location</label>
            <input type="text" id="event-location" placeholder="Enter the location" required />
            <label> Time </label>
            <input type="time" id="event-time" placeholder="Enter the time of the event" />
            <label> Date </label>
            <input type="date" id="event-date" placeholder="mm/dd/yyyy" required/>
            <input type="hidden" id="event-id" />
            <input type="hidden" id="users-registered" />
            <input type="hidden" id="createdBy" />
            <input type="hidden" id="event-username" />
            <input type="hidden" id="event-joinedUserIds" />
            <div class="event-buttons">
                <button ng-if="newPost" ng-click="postNewEvent()">Post Event</button>
                <button ng-if="editPost" ng-click="saveEditedEvent()">Save Changes </button>
                <button ng-click="resetForm()"> Reset </button>

            </div>
            
             
        </div>

        <!--New Event Creation Code Ends Here -->




        <!-- Created Events Code Starts Here -->
        <p id="banner" ng-if="'createdActivities' == myView"> Created Activities</p>
        <div ng-if="'createdActivities' == myView" id="createdActivites" class="createdActivitiesView">
            
            <p id="noEventMatch"> Oops!!! You have no created Events. <a id="createNew" ng-click="showNewEventCreation()"> Create here</a> </p>
           <ul id = "newEvent"> 
            
               <li id="newPost" ng-repeat="event in events.slice().reverse()" ng-if="event.createdBy == currentUser" ng-init="showError('.createdActivitiesView')" class="event">
                   
                   <ul>
                       <li  id="categoryLabel" ng-bind="event.category"></li>
                       
                       <li class="eventContentOverflow" ng-bind="'Title:' + (event.title)"></li>
                       <li class="eventContentOverflow" ng-bind="'Description:' + (event.description)"></li>
                       <li class="eventContentOverflow" ng-bind="'Location:' + (event.location)"></li>
                       <li ng-bind="'Time:' + (event.time) "></li>
                       <li ng-bind="'Date:' + (event.date) "></li>

                       <li id="actions" ng-click="viewCurrentEvent(event)"> View Event</li>
                       <li id="actions" ng-click="EditEvent(event)"> Edit Event</li>
                       <li id="actions" ng-click="DeleteEvent($event,event)"> Delete Event  </li>

                   </ul>

               </li>
            </ul>
            
           
        </div>
       

       


        <!-- Created Events Code Ends Here-->



        <!-- Interested Category Posts -->

        <p id="banner" ng-if="'interestedActivities' == myView"> Recommended Activities</p>
        <div ng-if="'interestedActivities' == myView" id="createdActivites" class="recommendedActivitiesView">
  
            <p id="noEventMatch"> Oops!!! No event matches your interest. Consider Changing your interest here <a class="createNew" id="profilePage"> Profile Setiings </a> </p>
                <div ng-repeat="myTitle in interestedCategory" id="filterByCategory">
                   
                    <ul>
                        <li ng-click="viewCurrentEvent(event)" ng-repeat="event in events.slice().reverse()" ng-if="event.category == myTitle.$value" ng-init="showError('.recommendedActivitiesView')">

                            <ul ng-show="angular.isObject(event)"  class="event trimmedView">
                                
                                        <li id="categoryLabel" ng-bind="event.category"></li>
                                        <li class="eventContentOverflow" ng-bind="'Title:' + (event.title)"></li>
                                        <li class="eventContentOverflow" ng-bind="'Description:' + (event.description)"></li>
                                        <li class="eventContentOverflow" ng-bind="'Location:' + (event.location)"></li>
                                        <li class="eventContentOverflow" ng-bind="'Time:' + (event.time) "></li>
                                        <li class="eventContentOverflow" ng-bind="'Date:' + (event.date) "></li>

                                        <li id="actions"> View Event </li>
                 
                                   
                            </ul>

                            
                        </li>
                    </ul>
                     
                </div>


        </div>




        <!-- Interested Category Posts -->


        <!-- All Activity Results -->

        <p id="banner" ng-if="'allActivites' == myView" > All Activities</p>

        <div ng-if="'allActivites' == myView" id="createdActivites" class="allActivitiesView">
            <p id="noEventMatch"> Oops!!! No events exists in this category. would you like to post one ? <a id="createNew" ng-click="showNewEventCreation()"> Create here </a> </p>
            <ul>

               
                <li ng-click="viewCurrentEvent(event,key)" ng-repeat="event in events.slice().reverse()">
                   
                    <ul ng-show="angular.isObject(event)"  ng-init="showError('.allActivitiesView')"class="event trimmedView">
                       
                        <li id="categoryLabel" ng-bind="event.category"></li>
                        <li class="eventContentOverflow" ng-bind="'Title:' + (event.title)"></li>
                        <li class="eventContentOverflow" ng-bind="'Description:' + (event.description)"></li>
                        <li class="eventContentOverflow" ng-bind="'Location:' + (event.location)"></li>
                        <li class="eventContentOverflow" ng-bind="'Time:' + (event.time) "></li>
                        <li class="eventContentOverflow" ng-bind="'Date:' + (event.date) "></li>

                        <li id="actions"> View Event </li>
                        


                    </ul>


                </li>
            </ul>
            

        </div>




        <!-- All Activity Results -->


        <!-- Trimmed Results -->

        <p id="banner" ng-if="'trimmedActivites' == myView" ng-bind="myTitle"></p>
        <div ng-if="'trimmedActivites' == myView" id="createdActivites"class="trimmedActivitiesView">
            <p id="noEventMatch" class="trimmedViewNoEventErrorMsg" > Oops!!! No events exists in this category. would you like to post one ? <a id="createNew" ng-click="showNewEventCreationCategorySpecific(myTitle)"> Create here </a> </p>
            <ul>
             

                <li ng-click="viewCurrentEvent(event)" ng-repeat="event in events.slice().reverse()" ng-if="event.category == myTitle" ng-init="showError('.trimmedActivitiesView')">
                   
                    <ul ng-show="angular.isObject(event)" class="event trimmedView">
                        
                        
                        <li class="eventContentOverflow" ng-bind="'Title:' + (event.title)"></li>
                        <li class="eventContentOverflow" ng-bind="'Description:' + (event.description)"></li>
                        <li class="eventContentOverflow" ng-bind="'Location:' + (event.location)"></li>
                        <li class="eventContentOverflow" ng-bind="'Time:' + (event.time) "></li>
                        <li class="eventContentOverflow" ng-bind="'Date:' + (event.date) "></li>

                        <li id="actions"> View Event </li>
                      


                    </ul>


                </li>
            </ul>
   

        </div>




        <!-- Trimmed Results -->

        <!-- Current Event View -->

        <div ng-if="'currentEventView' == myView && (currentEvent.id == currentObjId)" ng-repeat="currentEvent in Events"  class="currentEventView">

                   
            <h1 ng-bind="(currentEvent.category)"></h1>
            <pre>Activity CreatedBy      </pre><p ng-bind="(currentEvent.username)"></p>
            <pre>Activity Title      </pre><p ng-bind="(currentEvent.title)"></p>
            <pre>Activity Time      </pre><p ng-bind="(currentEvent.date) + ' ' + (currentEvent.time)"></p>
            <pre>Activity Location      </pre> <p ng-bind="currentEvent.location"></p>
            <pre>Number of Users Joined      </pre> <p ng-bind="currentEvent.users.length"></p>
            
                <h3>Acitivity Description</h3> 
                <div class="currentEventDescription" ng-bind="(currentEvent.description)"></div>


            <div class="registeredUsers">
                <h3> Regsitered Users for this event </h3>
               
                    <ul>
                        <li ng-repeat="user in currentEvent.users"> <span id="userJoined" ng-bind="user"></span> <span id="user_uid" style='display:none' ng-bind="(currentEvent.joinedUserIds)[$index]"></span></li>
                        

                    </ul>
                    
               
            </div>

            <button ng-if="userCreatedEvent"> Joined </button>
            <button ng-if="!recordExist" ng-show="joinUser" ng-click="joinActivity(currentEvent)"> Join Activity </button>
            <button ng-if="recordExist" ng-show="joinUser" ng-click="unjoinActivity(currentEvent)"> Un Join</button>
            

            <div class="StaticContent">
                
                <img src="../static/images/add1.jpg" />


            </div>
        </div>



        <!-- Current Event View -->



        <!-- Joined Activites -->
        <p id="banner" ng-if="'joinedActivities' == myView"> Joined Activities</p>
       
            <div  ng-if="'joinedActivities' == myView" id="createdActivites" class="joinedActivitiesView">

                <p id="noEventMatch"> Oops!!! You have not joined any Event. <a id="createNew" ng-click="trimmedResult('all')"> Join here</a> </p>
                <ul id="newEvent">

                   
                    <li ng-click="viewCurrentEvent(event,key)" ng-repeat="event in events" >
                        <ul ng-repeat="joinedUser in event.joinedUserIds" ng-if="joinedUser==currentUsrId"  ng-init="showError('.joinedActivitiesView')" class="event trimmedView">

                                <!--<li class="eventContentOverflow" ng-bind="'ID:' + (event.id)"></li>-->
                                <li id="categoryLabel" ng-bind="event.category"></li>
                                <li class="eventContentOverflow" ng-bind="'Title:' + (event.title)"></li>
                                <li class="eventContentOverflow" ng-bind="'Description:' + (event.description)"></li>
                                <li class="eventContentOverflow" ng-bind="'Location:' + (event.location)"></li>
                                <li class="eventContentOverflow" ng-bind="'Time:' + (event.time) "></li>
                                <li class="eventContentOverflow" ng-bind="'Date:' + (event.date) "></li>
                                <li class="eventContentOverflow" ng-bind="'Registered Users:' + (event.users.length) "></li>

                                <li id="actions"> View Event </li>
                            

                        </ul>
                        


                    </li>
                </ul>



                
                
                

            </div>




        <!-- Joined Activites -->
        
        <footer>
            <p> Please contact us at <a href="mailto:findmypal10@gmail.com"> findmypal10@gmail.com </a> for your ads. </p>
        </footer>

        </div>
  
   

    </div>
    

    <!-- Forwarding to Profile Page -->
        <form action = "/profile" id="homepage">

            <input type="hidden" name = "currentUserId">
            <input type="hidden" name="joinedUsrId" />
            <input type="hidden" name="joinedUserStatus" />

        </form>


    <!-- Forwarding to Profile Page -->

    <form action="/profile" id="joinedUserProfileView">

        <input type="hidden" name="currentUserId" />
        <input type="hidden" name="joinedUsrId" />
        <input type="hidden" name="joinedUserStatus" />

    </form>


    <!-- Logout Handline scenario -->
    <form action="/" id="loginPageRedirect">

       

    </form>
    
    <!-- Logout Handline scenario -->

</body>
</html>